@import './variables';

.container{
    h2 {
        font-family: Avenir;
        font-style: normal;
        font-weight: 800;
        font-size: 26px;
        line-height: 36px;
        color: #000000;
        margin-top: 33px;
        margin-bottom: 33px;
    }
    
    .name {
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */
    
    
        color: #000000;
    }
    
    .text{
        width: 362px;
        height: 40px;
        // left: 26px;
        // right: 26px;
        // top: 190px;
        margin-top: 8px;
        margin-bottom: 33px;
    
        background: #F4F4F4;
        border-radius: 10px;
        border: none;
    }

    .board-text{
        position: absolute;
        width: 362px;
        height: 203px;
        margin-top: 8px;
        margin-bottom: 350px;

        background: #F4F4F4;
        border-radius: 10px;
        border: none;
    }

    a{
        text-decoration: none;
        color: $text-base-color;
      }
}
 
