$heart-size: 32px;
$avatar-size: 32px;
$container-padding: 16px;


.task-top {
  padding: 10px;
  // margin-top: 10px;
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;
}

.eyecatch {
  position: absolute;
  width: 360px;
  height: 170px;
  left: 24px;
  top: 159px;

  background: url(Image.png);
  border-radius: 8px;
}

.title {
  // position: absolute;
  height: 36px;
  left: 0%;
  right: 0%;
  top: calc(50% - 36px/2);

  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */


  color: #000000;
}

.content {
  position: absolute;
  width: 362px;
  height: 217px;
  padding: 26px;
  top: 364px;

  background: #F4F4F4;
  border-radius: 10px;
}